<!-- Auth Navbar -->
<header
    class="sticky top-0 z-[100] bg-white/50 dark:bg-[#020617]/50 backdrop-blur-2xl border-b border-slate-200/60 dark:border-white/5">
    <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
        <a href="/" class="flex items-center gap-3 group">
            <img src="/images/128x128.png" alt="Inslash Icon"
                class="w-8 h-8 rounded-lg shadow-2xl border border-white/10 group-hover:scale-105 transition-transform duration-500">

        </a>
        <div class="flex items-center gap-8">
            <a href="/docs"
                class="text-[10px] font-black uppercase tracking-[0.3em] text-slate-400 hover:text-slate-900 dark:hover:text-white transition-colors">Documentation</a>
            <a href="/"
                class="text-[10px] font-black uppercase tracking-[0.3em] text-slate-400 hover:text-slate-900 dark:hover:text-white transition-colors">Home</a>
        </div>
    </div>
</header>